.hero {
  height: 90vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true&w=1920");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}



 /* https://images.unsplash.com/photo-1500530855697-b586d89ba3ee */
/* 
 https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true */

 /* https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true&w=2400 */

 /* https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true&w=640 */

 