.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://media.magnific.com/magnific/landings/about-us/hero-about-us.webp?w=1080&h=605&fit=crop&auto=format");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.hero-title {
  
  font-family: "Habibi", serif !important;
  font-weight: bolder;
  color: #faf3e0;
  z-index: 999;
}

@media (max-width: 768px) {
  .hero {
    background-attachment: scroll;
  }
}




/* /src/assets/herofade2.jpg */

 /* https://images.unsplash.com/photo-1500530855697-b586d89ba3ee */
/* 
 https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true */

 /* https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true&w=2400 */

 /* https://unsplash.com/photos/AcmsXGJ7c8U/download?force=true&w=640 */

 